
.vp-doc{
  p{
    line-height: 1;
  }
}
.vp-doc .vp-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 45px;
  th,td{
    border: none;
    background-color: var(--el-bg-color);
  }
  th{
    color: var(--el-text-color);
  }

  & > table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    display: table;

    tr {
      td:nth-child(2) {
        font-family: var(--el-font-family);
      }
    }

    th,
    td {
      white-space: nowrap;
      padding: 0.6em 1em;
      text-align: left;
      max-width: 250px;
      white-space: pre-wrap;
    }

    thead tr:first-child th {
      border-top: none;
    }

    tbody tr td:first-child {
      font-family: var(--el-font-family-mono);
    }
  }
}

